body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative; /* Making body the reference for the absolute position of the button */
    background-image: url('../images/home_background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* Styling for the star button V1 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../images/home_background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.north_star_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    position: absolute;
    left: calc(100vw / 3 - 25px); /* Subtract half of the button's width to center it */
    top: calc(20vh - 25px); /* Subtract half of the button's height to center it */
    background-image: url('../images/north_star.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 250px; 
    height: 250px;
    display: inline-block;
}

.north_star_button:hover {
    /* Twinkle Effect */
    transform: scale(1.1); 
    animation: twinkle 1s alternate infinite;
}

/* Tooltip - Displaying the name of the button */
.north_star_button:hover::after {
    content: attr(aria-label);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); 
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Using the light weight for a sleek look */
    font-size: 18px;
    letter-spacing: 2px; /* Spacing out the letters */ 
}


/* Animation - Twinkle */
@keyframes twinkle {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    100% { opacity: 1; }
}
