body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../images/home_background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
